<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/layout.css" />
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css" />
  <script defer src="../js/jQuery.min.js"></script>
  <script defer src="../styles/bootstrap/js/bootstrap.min.js"></script>
  <script defer src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>


  <script defer src="../js/scripts.js" async></script>
  <title>Forms</title>
</head>

<body onload="editRender()">
  <div id="content">
    <span class="slide" id="slide">
      <a href="#" onclick="onSlideMenu()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </a>
    </span>

    <h3 class="m-auto d-block text-center">
      UNITEC
    </h3>

    <div id="accordion" class="main-container">
        <div class="card">
          <div class="card-header" style="cursor:pointer" id="headingZero" data-toggle="collapse"
            data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
            <h5 class="m-auto d-block text-center">
              Quotation Information
            </h5>
          </div>
  
          <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordion">
            <div class="card-body">
              <form>
                <fieldset>
                  <!-- Form Name -->
                  <div class="form-group row">
                    <label class="col-md-3 control-label" for="name">Reference No.</label>
                    <div class="col-md-9">
                      <input id="refNo" name="refNo" type="text" placeholder="Reference No." class="form-control input-md"
                        required="true" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 control-label" for="name">Address</label>
                    <div class="col-md-9">
                      <textarea id="nameAddress" name="nameAddress" type="text" placeholder="Enter Address here"
                        class="form-control input-md" required="true"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 control-label" for="name">Reference</label>
                    <div class="col-md-9">
                      <input id="ref" name="ref" type="text" placeholder="Enter Reference " class="form-control input-md"
                        required="true" />
                    </div>
                  </div>
  
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" style="cursor:pointer" id="headingOne" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="m-auto d-block text-center">
              Data Information
            </h5>
          </div>
  
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <form action="">
                <form>
                  <fieldset>
                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-3 control-label" for="name">Item Description</label>
                      <div class="col-md-9">
                        <input id="productName" name="name" type="text" placeholder="Enter product name "
                          class="form-control input-md" required="true" />
                      </div>
                    </div>
  
                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-3 control-label" for="qty">Quantity</label>
                      <div class="col-md-9">
                        <input id="qty" name="qty" type="text" placeholder="Enter Quantity" class="form-control input-md"
                          required="true" />
                      </div>
                    </div>
  
                    <!-- Select Basic -->
                    <div class="form-group row">
                      <label class="col-md-3 control-label" for="unit">Unit</label>
                      <div class="col-md-9">
                        <select id="unit" name="unit" class="form-control">
                          <option value="KG">KG</option>
                          <option value="Packets">Packets</option>
                          <option value="No.">No.</option>
                          <option value="U">U</option>
                          <option value="RFT">RFT</option>
                          <option value="Sqft">Sqft</option>
                          <option value="Length">Length</option>
                        </select>
                      </div>
                    </div>
  
                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-3 control-label" for="unitPrice">Unit Price</label>
                      <div class="col-md-9">
                        <input id="unitPrice" name="unitPrice" type="text" placeholder="Enter unit price"
                          class="form-control input-md" required="true" />
                      </div>
                    </div>
  
  
  
  
                </form>
  
            </div>
  
            <div class="text-right align-items-right mb-4 mr-4">
              <!-- <button id="submit" name="submit" class="btn btn-primary" style="width: 48%;background-color:rgb(57, 5, 179) !important;)
                 !important;" onclick=""><span>Update</span></button> -->
              <button id="submit" name="submit" class="btn btn-primary"
                style="width: 20%;background-color:rgb(0, 92, 128) !important;"
                onclick="submitData()"><span>Save</span></button>
            </div>
  
          </div>
        </div>
        <div class="card">
          <div class="card-header" style="cursor:pointer" id="headingTwo" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="m-auto d-block text-center">
              Buyer's Information
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3 control-label" for="name">Party Name</label>
                <div class="col-md-9">
                  <input list="buyers" id="partyName" name="partyName" type="text" placeholder="Enter Party name "
                    class="form-control input-md" required="true" oninput="callBuyerInfo()" />
                  <datalist id="buyers">
                  </datalist>
                </div>
              </div>
  
              <!-- Text input-->
              <div class="form-group row">
                <label class="col-md-3 control-label" for="productId">Person to Contact</label>
                <div class="col-md-9">
                  <input id="personToContact" name="personToContact" type="text" placeholder="Enter Person's Contact"
                    class="form-control input-md" required="true" />
                </div>
              </div>
  
              <!-- Text input-->
              <div class="form-group row">
                <label class="col-md-3 control-label" for="qty">Address</label>
                <div class="col-md-9">
                  <input id="address" name="address" type="text" placeholder="Enter Address" class="form-control input-md"
                    required="true" />
                </div>
              </div>
  
              <!-- Select Basic -->
              <div class="form-group row">
                <label class="col-md-3 control-label" for="unit">Telephone No.</label>
                <div class="col-md-9">
                  <input id="telephone" name="telephone" type="text" placeholder="Enter Telephone No."
                    class="form-control input-md" required="true" />
                </div>
              </div>
  
              <!-- Text input-->
              <div class="form-group row">
                <label class="col-md-3 control-label" for="unitPrice">Mobile No.</label>
                <div class="col-md-9">
                  <input id="mobile" name="mobile" type="text" placeholder="Enter unit price"
                    class="form-control input-md" required="true" />
                </div>
              </div>
  
              <!-- Text input-->
              <div class="form-group row">
                <label class="col-md-3 control-label" for="purchasedPrice">
                  Email</label>
                <div class="col-md-9">
                  <input id="email" name="email" type="text" placeholder="Enter Email" class="form-control input-md"
                    required="true" />
                </div>
              </div>
  
  
  
              <div class="form-group row">
                <label class="col-md-3 control-label" for="purchasedPrice">Website</label>
                <div class="col-md-9">
                  <input id="website" name="website" type="text" placeholder="Enter Website link"
                    class="form-control input-md" required="true" />
                </div>
              </div>
              </fieldset>
              </form>
            </div>
          </div>
        </div>
  
        <!-- <div class="text-center mt-4">
          <p class="lead">Please <b style="color: red;">Save Data</b> before <b style="color: red;">Generating
              Quotation</b>
          </p>
        </div> -->
        <br>
        <div class="btn-group text-center d-block m-auto" style="align-items: center;">
          <button id="submit" name="submit" class="button btn-primary m-auto d-block w-50" onclick="submitEditData()"><span>Edit
              Data</span></button>
          <!-- <div class="text-center mt-4">
            <p class="lead">Please <b style="color: red;">Select Date</b> Of The Data You Want To <b
                style="color: red;">Generate</b></p>
          </div> -->
          <!-- <input type="date" name="slipDate" id="slipDate" class="ml-3 form-control w-50 m-auto"
            style="align-content: center;" /> -->
         
        </div>
      </div>
    
    

  </div>
  </div>


  </div>

  <div id="menu" class="sidebar">
    <a href="#" class="close" onclick="closeSlideMenu()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
      </svg>
    </a>
    <a href="/">Forms</a>
    <a href="/database">Our Database</a>
  </div>
</body>

</html>