<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/layout.css" />
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css" />
  <script defer src="../js/jQuery.min.js"></script>
  <script defer src="../styles/bootstrap/js/bootstrap.min.js"></script>
  <script defer src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script defer src="../js/scripts.js" async></script>
  <title>Add Products</title>
</head>

<body onload="renderSlip()" style="margin-top:100px;">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-8 mt-4">
        <span id="refNoID"></span>
        <p class="w-50" id="addressNameID">
          Directorate of Technical Procurement Dr AQ KHAN RESEARCH
          LABARTOTIRES RWP
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Dated :
          <script>
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, "0");
            var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
            var yyyy = today.getFullYear();

            today = mm + "-" + dd + "-" + yyyy;
            document.write(today);
          </script>
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-9">
        <h6>REQUEST FOR QUOTATION</h6>

        <h6 id="refID">
          : KRL LETTER NO. 16/7231/DT3-LMSH@MDSK DATED 10-08-2020
        </h6>

        <p>
          Dear Sir<br />
          We are pleased to quote the most competitive rae for the subject for
          the subject requirement, as per following details for your kind
          approval please
        </p>
      </div>
    </div>

    <div class="row">
      <table class="table table-bordered">
        <thead class="text-center">
          <tr>
            <th scope="col" style="width: 5%">S.No</th>
            <th scope="col" style="width: 55%">Description</th>
            <th scope="col">Unit</th>
            <th scope="col">Qty</th>
            <th scope="col">Unit Rate (Rs)</th>
          </tr>
        </thead>
        <tbody class="text-center slip-products-row"></tbody>
      </table>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h6>TERMS & CONDITIONS ARE NARRATED BELOW</h6>
        <ul>
          <li>Rate is F.O.R. <b>RAWALPINDI</b> basis.</li>
          <li>Rate is exclusive of GST.</li>
          <li>Rate Validity up to 90 DAYS.</li>
          <li>
            Delievery will be made with in 45 days after receivng of Purchase
            order with best regards
          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h6 class="mt-4">ZAHEER AHMED</h6>
        <p style="margin-top: -6px">
          Chief Executive <br />CELL : 0333-5544823
        </p>
        <p></p>
      </div>
    </div>
  </div>
</body>

</html>